<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1 ng-i18n>Chessboard</h1>

    <div class="chess-support">
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
      <div class="square odd"></div>
      <div class="square"></div>
    </div>


  </div>
</div>