<div id="navanchor" class="row top-buffer">
  <div class="col-sm-12 col-xs-2 bottom-buffer">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        {{ 'lang' | i18n }} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="" ng-click="changeLangage('en')">{{ 'button_lang_en' | i18n }}</a></li>
        <li><a href="" ng-click="changeLangage('fr')">{{ 'button_lang_fr' | i18n }}</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-12 col-xs-2">
    <a href="#" ng-hide="isHome" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>
</div>