<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1>{{ 'home_welcome' | i18n }}</h1>

    <p class="text-justify">{{ 'home_intro' | i18n }}</p>
    <br>

    <div class="row">
      <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <div class="thumbnail">
          <a href="#/book-one/page-1">
            <img src="img/comics.png" alt="lorem ipsum" class="img-rounded">
          </a>
          <div class="caption">
            <h3>{{ 'home_comics_title' | i18n }}</h3>
            <p>{{ 'home_comics_desc' | i18n }}</p>
            <p><a href="#/book-one/page-1" class="btn btn-primary" role="button">{{ 'continue' | i18n }}</a></p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <div class="thumbnail">
          <a href="#/magic-trick/page-1">
            <img src="img/trick.png" alt="Magic Trick" class="img-rounded">
          </a>
          <div class="caption">
            <h3>{{ 'home_trick_title' | i18n }}</h3>
            <p>{{ 'home_trick_desc' | i18n }}</p>
            <p>
              <a href="#/magic-trick/page-1" class="btn btn-primary" role="button">{{ 'continue' | i18n }}</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2">
        <div class="thumbnail">
          <a href="#/resume">
            <img src="img/resume.png" alt="Resume" class="img-rounded">
          </a>
          <div class="caption">
            <h3>{{ 'home_resume_title' | i18n }}</h3>
            <p>{{ 'home_resume_desc' | i18n }}</p>
            <p>
              <a href="#/resume" class="btn btn-primary" role="button">{{ 'continue' | i18n }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>