<div class="row">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
    <h1 ng-i18n>Optic Illusion</h1>
	
	<blockquote>
	  <p ng-i18n>The objective is to say aloud the word color (and not the word itself).</p>
	</blockquote>
	
	<div class="row">
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-green" ng-i18n>RED</p>
      </div>
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-yellow" ng-i18n>BLUE</p>
      </div>
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-purple" ng-i18n>ORANGE</p>
      </div>
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-red" ng-i18n>GREEN</p>
      </div>
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-blue" ng-i18n>YELLOW</p>
      </div>
	  <div class="col-xs-12 col-sm-6">
        <p class="oi-text oi-orange" ng-i18n>PURPLE</p>
      </div>
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading" ng-i18n>Explanation</div>
	  <div class="panel-body" ng-i18n>
		Our brain is advanced device which enables to detect color and language. When you try to say aloud the word color, an opposition happens between the color processing and the language processing.
	  </div>
	</div>
  </div>
</div>