<div class="row" style="background-color: yellow;">
  <div class="col-sm-12 col-md-10 col-md-offset-1">
  
  <h1>About</h1>
  
  <h2>Technologies</h2>
  
  <h2>Me</h2>
  
    <div class="row" style="background-color: orange;">
      <div class="col-sm-12">
        <h1 id="toto">Yve5</h1>
        <h2>Ingénieur Etude & Développement</h2>
      </div>

      <div class="col-xs-12 hidden-md hidden-lg">
        <h4>Compétences</h4>
        <p>Windows, Linux, HTML5, SQL, MySQL, Photoshop, CSS3, SVN, Git, PHP</p>

        <h4>Compétences</h4>
        <p>Windows, Linux, HTML5, SQL, MySQL, Photoshop, CSS3, SVN, Git, PHP</p>

        <h4>Compétences</h4>
        <p>Windows, Linux, HTML5, SQL, MySQL, Photoshop, CSS3, SVN, Git, PHP</p>

        <h4>Compétences</h4>
        <p>Windows, Linux, HTML5, SQL, MySQL, Photoshop, CSS3, SVN, Git, PHP</p>

        <h4>Compétences</h4>
        <p>Windows, Linux, HTML5, SQL, MySQL, Photoshop, CSS3, SVN, Git, PHP</p>
      </div>

      <div class="col-sm-12 col-md-9">
        <h3>Expérience</h3>
        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

        <h3>Education</h3>
        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-2">
            depuis août 2014
          </div>
          <div class="col-sm-12 col-md-10">
            <strong>Analyste, développeur, intégrateur - LMG</strong>
            <br>
            Ajout de fonctionnalités sur l’application « Parcours de Vente »
            <br>
            <ul class="li">
              <li>connexion à l’application depuis un service Web SOAP</li>
              <li>ajout de nouvelles gammes de produit (Smarty)</li>
              <li>mise à jour de la couche d’abstraction (Propel)</li>
              <li>authentification automatique</li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-3 text-right hidden-sm hidden-xs">
        <h4>Compétences</h4>
        <ul class="list-unstyled">
          <li>Windows, Linux</li>
          <li>SQL, MySQL</li>
          <li>Photoshop</li>
          <li>SVN, Git</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>PHP</li>
        </ul>

        <br>
        <h4>Compétences</h4>
        <ul class="list-unstyled">
          <li>Windows, Linux</li>
          <li>SQL, MySQL</li>
          <li>Photoshop</li>
          <li>SVN, Git</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>PHP</li>
        </ul>

        <br>
        <h4>Compétences</h4>
        <ul class="list-unstyled">
          <li>Windows, Linux</li>
          <li>SQL, MySQL</li>
          <li>Photoshop</li>
          <li>SVN, Git</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>PHP</li>
        </ul>
      </div>
    </div>

    <div class="row text-center hidden-lg hidden-md">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <a ng-click="backToTop()" class="btn btn-default" ng-i18n>Back to top</a>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>